<section class="plant-holder" id="plant-holder-{{plant.acceptedSymbol}}">

    <h1 class="result-common-name" id="plant-common-name-{{plant.acceptedSymbol}}">{{plant.commonName | titlecase}}</h1>
    <h2 class="result-scientific-name" id="plant-scientific-name-{{plant.acceptedSymbol}}">{{plant.scientificName
        |titlecase}}</h2>

    @if(!showMap){
    <span class="symbolAndShadeRow">
        <a target="_blank" rel="noopener noreferrer" [href]="usdaGovPlantProfileUrl + plant.acceptedSymbol"
            [tooltip]="usdaGovPlantProfileUrl + plant.acceptedSymbol"
            id="plant-abbreviation">{{plant.acceptedSymbol}}</a>

        @if (plant.shadeTolerance !== null) {
        <app-icon class="shade-tolerance" [name]="iconName"></app-icon>
        }

    </span>
    @if(plant.growthHabit.size > 0)
    {

    <h4 class="result-property" id="plant-growth-habit-{{plant.acceptedSymbol}}">
        @for (key of growthHabitKeys; track key; let last = $last) {
        {{ key | transloco }}@if (!last) {, }
        }
    </h4> }

    @if(plant.activeGrowthPeriod.length > 0){
    <h4 class="result-property" id="active-season-{{plant.acceptedSymbol}}">
        {{ plant.activeGrowthPeriod.join(', ') }}
    </h4>
    }

    @if(plant.duration !== null){
    <h4 class="result-property" id="duration-{{plant.acceptedSymbol}}">{{plantDuration}}
    </h4>
    }

    @if(plant.shapeAndOrientation !== null){
    <h4 class="result-property" id="shape-orientation-{{plant.acceptedSymbol}}">
        {{plant.shapeAndOrientation}}
    </h4>
    }

    <!-- <div class="plant-guide-container" id="plant-guide-container-{{plant.acceptedSymbol}}"> -->
    <!-- TODO figure out how to ensure the guides actually exist -->
    <!-- <a href="https://plants.usda.gov/DocumentLibrary/plantguide/pdf/pg_{{plant.acceptedSymbol}}.pdf">PDF</a> -->
    <!-- </div> -->

    }
    @else {
    <svg #map [attr.viewBox]="viewBox" class="mini-map">
        <!-- nation border (render first, below everything) -->
        <use href="#nation-border" class="nation-border" />
        <!-- base mesh -->
        <use href="#county-mesh" class="mesh" />

        <!-- highlight counties for this plant -->
        @for(countyFip of combinedCountyFips; track countyFip){
        <use [attr.href]="'#county-' + countyFip" class="county present" />
        }
    </svg>
    }

    <div class="last-row" id="last-row-{{plant.acceptedSymbol}}">
        <!-- <pic-search-icon id="photo-icon-{{plant.acceptedSymbol}}" class="search-icon"
            (click)="openImageSearch(plant)"></pic-search-icon> -->
        <button class="info-btn" id="info-btn-{{plant.acceptedSymbol}}" (click)="openInfoPage()"
            [tooltip]="'PLANT_OVERVIEW' | transloco">
            <app-icon class="info-icon" name="help"></app-icon>
        </button>

        <button class="info-btn" id="map-btn-{{plant.acceptedSymbol}}" (click)="showMap = !showMap"
            [tooltip]="(showMap ? 'BACK' : 'NATIVE_REGION_MAP') | transloco">
            <app-icon class="map-icon" [name]="showMap ? 'undo' : 'location_marker'"></app-icon>
        </button>
    </div>
</section>