:root {
    --item-size: 5em;
}

.plant-holder {
    height: calc(100% - 2em);
    width: calc(100% - 2em);
    display: flex;
    padding: 1em;
    flex-direction: column;
    background-color: var(--grass-light-green);
}

.result-common-name {
    display: flex;
    place-items: center;
    gap: .5em;
    font-size: 1.1em;
    font-weight: bold;
}

h1,
h2,
h3,
h4 {
    all: unset;
}

.result-scientific-name {
    font-style: italic;
}

.result-property {
    margin-bottom: 0;
}

.symbolAndShadeRow {
    display: inline-flex;
    gap: .25em;
    place-items: center;
}

.info-btn {
    background-color: transparent;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--wood-dark-brown);
}

.info-icon {
    color: var(--wood-dark-brown);
}

.last-row {
    display: inline-flex;
    margin-top: auto;
    align-content: center;
    justify-content: space-between;
}

.search-icon {
    transform: translateY(.5em);
}

.mini-map .county.present {
    fill: #4caf50;
}

.mini-map .mesh, .mini-map .nation-border {
    fill: none;
}

.mini-map .county.present, .mini-map .mesh{
    stroke: var(--wood-brown);
    stroke-width: 0.2;
}

.mini-map .nation-border {
    stroke: var(--wood-dark-brown);
    stroke-width: .6;
}