button{
    box-shadow: unset;
    border:unset;
}

.icon{
    grid-area: 1/1/2/2;
}

.search{
    color:var(--wood-dark-brown);
    transform: translate(12px, 4px) scale( .75,.75);
}

.photo{
    color:var(--wood-brown);
}