:host {
  --item-height: 248px;
}

.container {
  background-color: var(--wood-brown);
  height: calc(100vh - var(--nav-bar--total-height));
}

@supports (scrollbar-color: auto) {
  .gov-container-scrollport {
    scrollbar-color: var(--wood-dark-brown) var(--wood-brown);
  }
}

@supports selector(::-webkit-scrollbar) {
  .gov-container-scrollport::-webkit-scrollbar {
    background: var(--wood-dark-brown);
  }

  .gov-container-scrollport:-webkit-scrollbar-thumb {
    background: var(--wood-brown);
  }
}

.plant-grid {
  display: grid;
  width: 100%;
  height: 100%;
  place-items: center;
}

.gov-container-scrollport{
  width: 100%;
 height: calc(100vh - var(--nav-bar--total-height));
}

.plant-tile-container {
  height: var(--item-height); /* or dynamically set via variable for smaller screens */
}

.plant-holder{
  display: inline-block;
  height: var(--item-height);
  width: 100%;
}
