:host {
  --item-height: 248px;
  --container-height: 6em;
}

.gov-container-scrollport {
  width: 100%;
  height: calc(100vh - 40px - var(--container-height));
}

.plant-grid {
  display: grid;
  width: 100%;
  height: 100%;
  place-items: center;
}

.plant-search-container {
  position: sticky;
  width: calc(100% - (2 * var(--nav-bar--width-padding)));
  background-color: var(--wood-brown);
  height: var(--container-height);
  padding-left: var(--nav-bar--width-padding);
  padding-right: var(--nav-bar--width-padding);
}

.plant-tile-container {
  height: var(--item-height);
}

.plant-holder {
  display: inline-block;
  height: var(--item-height);
  width: 100%;
}