<nav-bar>
    <plant-search (filteredDataBatch)="updatePlantData($event)" (filterInProgress$)="clearData($event)"
        style="width:100%"></plant-search>
</nav-bar>

<section class="container" id="container">
    @defer(prefetch on idle){
    <cdk-virtual-scroll-viewport id="gov-container-scrollport" [itemSize]="itemSize / columns" [maxBufferPx]="itemSize * 12"
        [minBufferPx]="itemSize * 8" class="gov-container-scrollport">
        <div class="plant-grid" [style.grid-template-columns]="'repeat(' + columns + ', 1fr)'" [style.gap.px]="gutterSize">
            <plant-tile *cdkVirtualFor="let plant of plantData; trackBy: trackByPlant" class="plant-holder" [plant]="plant"></plant-tile>
        </div>
    </cdk-virtual-scroll-viewport>
    }
</section>