:host {
  --item-height: 248px;
}

.gov-container-scrollport {
  width: 100%;
  height: calc(100vh - 40px - 5em);
}

@supports (scrollbar-color: auto) {
  .gov-container-scrollport {
    scrollbar-color: var(--wood-dark-brown) var(--wood-brown);
  }
}

@supports selector(::-webkit-scrollbar) {
  .gov-container-scrollport::-webkit-scrollbar {
    background: var(--wood-dark-brown);
  }

  .gov-container-scrollport:-webkit-scrollbar-thumb {
    background: var(--wood-brown);
  }
}

.plant-grid {
  display: grid;
  width: 100%;
  height: 100%;
  place-items: center;
}

.plant-search-container {
  position: sticky;
  width: calc(100% - (2 * var(--nav-bar--width-padding)));
  background-color: var(--wood-brown);
  height: 5em;
  padding-left: var(--nav-bar--width-padding);
  padding-right: var(--nav-bar--width-padding);
}

.plant-tile-container {
  height: var(--item-height);
}

.plant-holder {
  display: inline-block;
  height: var(--item-height);
  width: 100%;
}