:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--wood-brown);
}

.title {
    /* font-size: 40cqi; */
    /* Example value - 10% of the container's inline size */
    /* Add a max-size for accessibility and design control */
    font-size: clamp(1rem, 20cqi, 4rem)
}

h2 {
    margin: 0;
    padding: 0;
}

.nav-bar {
    position: static;
    padding-left: var(--nav-bar--width-padding);
    padding-right: var(--nav-bar--width-padding);
    display: inline-flex;
    container-type: inline-size;
    white-space: nowrap;
    justify-content: space-between;
    height: 40px;
    width: calc(100% - 2 * var(--nav-bar--width-padding));
    font-size: 1.2em;
    align-items: center;
}

.link-container {
    display: inline-flex;
    gap: .5em
}