.container {
  background-color: var(--grass-light-green);
  padding-bottom: 2em;
}

.text {
  margin: 0;
}

h1 {
  margin: 0;
}

.header {
  padding: 1em 0 1em 0;
  text-align: center;
}

.key-value-list {
  list-style: none;
}