.container {
  background-color: var(--grass-light-green);
  padding-bottom: 2em;
}

.text {
  margin: 0;
}

h1 {
  margin: 0;
}

.header {
  padding: 1em 0 1em 0;
  text-align: center;
}

@supports (scrollbar-color: auto) {

  .container,
  .text {
    scrollbar-color: var(--wood-dark-brown) var(--wood-brown);
  }
}

@supports selector(::-webkit-scrollbar) {

  .container::-webkit-scrollbar,
  .text::-webkit-scrollbar {
    background: var(--wood-dark-brown);
  }

  .container:-webkit-scrollbar-thumb,
  .text:-webkit-scrollbar-thumb {
    background: var(--wood-brown);
  }
}

.key-value-list {
  list-style: none;
}