:root {
    --item-size: 5em;
}

.plant-holder{
    height: inherit;
    width: inherit;
}

.result-common-name{
    display: flex;
    place-items: center;
    gap: .5em;
    font-size: 1.1em;
    font-weight: bold;
}

h1, h2, h3, h4 {
    all: unset;
}

.result-scientific-name {
    font-style: italic;
}

.plant-holder {
    display: flex;
    flex-direction: column;
}

.result-property {
    margin-bottom: 0;
}

.symbolAndShadeRow {
    display: inline-flex;
    gap: .25em;
    place-items: center;
}

.overlapped-icon {
    grid-area: 1/1/2/2;
}

.overlapped-sun {
    padding-left: 12px;
}

.sun,
.overlapped-sun {
    color: rgb(255, 208, 0);
}

.overlapped-cloud,
.cloud {
    color: grey;
}