.container {
    top: 0;
    position: sticky;
    padding-left: .75vw;
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: var(--nav-bar-padding);
    height: var(--nav-bar-height);
    width: calc(100% - .75vw);
    background-color: var(--wood-brown);
}