h2 {
    margin: 0;
}

#plant-search-container {
    gap: .5em;
    display: flex;
    width: 100%;
    align-items: flex-start;
    text-align: center;
    container-type: inline-size;
}

.filter-title-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    gap: .3em;
    flex-wrap: wrap;
}

.filter-title {
    font-weight: 600;
    font-size: clamp(1rem, 2cqi, 3rem);
}

.search-container {
    text-align: left;
}

.searchbar {
    align-self: flex-start;
    width: 100%;
    box-sizing: border-box;
}

.row {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.row,
.col,
.search-container {
    display: flex;
    gap: 2px;
}

.col {
    flex-direction: column;
    max-width: 450px;
}

.sortOrderButton {
    background-color: var(--grass-light-green);
    color: var(--wood-dark-brown);
    width: 6ch;
    padding: .5ch;
    margin: 0;
}

.selector {
    width: 100%;
}

.label {
    font-weight: bold;
}

.sort-label {
    flex-grow: 1;
}

.sort-label-row {
    display: inline-flex;
}

.input-counties {
    background-color: var(--grass-light-green);
    width: min(34ch, 100%);
    font-weight: 600;
    text-overflow: ellipsis;
    margin-left: .3em;
    font-size: clamp(1rem, 2cqi, 3rem);
}