
#plant-search-container {
    top: 0;
    position: sticky;
    padding-left: .75vw;
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: .5vh;
    height: 4em;
    width: calc(100% - .75vw);
    background-color: var(--wood-brown);
}

.filter-title{
    flex: 2;
    font-weight: 600;
    font-size: clamp(1.75vw, 1.75em ,4em);
}

.searchbar{
    width: 100%;
}