
#plant-search-container {
    top: 0;
    position: sticky;
    padding-left: .75vw;
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: .5vh;
    height: 6em;
    width: calc(100% - .75vw);
    background-color: var(--wood-brown);
    gap: .5em;
}

.filter-title{
    flex: 1;
    font-weight: 600;
    font-size: clamp(1.75vw, 1.75em ,4em);
    line-height: clamp(1.75vw, 1em ,4em);
}

.search-container{
    text-align: left;
}

.searchbar{
    align-self: flex-start;
    width: 100%;
    box-sizing: border-box;
}

.row{
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.row, .col, .search-container{
    display: flex;
    gap: 2px;
}

.col{
    flex-direction: column;
}

.sortOrderButton{
    background-color: var(--grass-light-green);
    border-radius: 0;
}

.selector{
    width: 100%;
}