
#plant-search-container {
    top: 0;
    position: sticky;
    padding-left: .75vw;
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: .5vh;
    height: 4em;
    width: calc(100% - .75vw);
    background-color: var(--wood-brown);
}

.filter-title{
    flex: 2;
    font-weight: 600;
    font-size: 1.4em;
}