
#plant-search-container {
    top: 0;
    position: sticky;
    padding-left: .75vw;
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: .5vh;
    height: 6em;
    width: calc(100% - .75vw);
    background-color: var(--wood-brown);
    gap: .5em;
}

.filter-title{
    flex: 1;
    font-weight: 600;
    font-size: clamp(1.75vw, 1.75em ,4em);
}

.search-container{
    text-align: left;
}

.searchbar{
    align-self: flex-start;
    width: 85%;
}

.row{
    display: flex;
    flex-direction: row;
}

.select-columns{
    display: flex;
    flex-direction: column;
}