<section id="plant-search-container">
    <input type="text" name="searchbar" id="searchbar" #searchBar (input)="search(searchBar.value)"
        placeholder="e.g. Lupinus agardhianus, Apache plume,...,">
    <select name="sortSelector" id="sortSelector" #sortSelector (change)="changeSortOption(sortSelector.value)">
        @for (option of sortOptions; track $index) {
        <option [value]="option">{{ 'SORT_OPTIONS.' + option | uppercase | transloco}}</option>
        }
    </select>
    <button matIconButton class="sortOrderButton" id="sortOrderButton" (click)="toggleSortOptionDirection()">
        <mat-icon>sort_by_alpha</mat-icon>
    </button>
    <select (change)="changeGrowthHabit(growthHabitSelector.value)" name="growthHabitSelector" id="growthHabitSelector"
        #growthHabitSelector [disabled]="filterInProgress$ | async">
        @for (growthHabit of growthHabits; track $index) {
        <option [value]="growthHabit">{{'GROWTH_HABIT_FILTER_OPTIONS.' + growthHabit| uppercase | transloco}}</option>
        }
    </select>
    <h2 class="filter-title" id="title">{{'NATIVE_PLANTS_IN' | transloco}} {{countyName}}</h2>
</section>