<section id="filterSection">
    <select (change)="changeGrowthHabit($event)" name="growthHabitSelector" id="growthHabitSelector"
        [disabled]="filterInProgress$ | async">
        <option *ngFor="let growthHabit of growthHabits" [value]="growthHabit">{{growthHabit}}</option>
    </select>
    <h2 class="filter-title" id="title">Native Plants Near You!</h2>
</section>

<body class="container" id="container">
    <article class="result-container" id="gov-container">
        <cdk-virtual-scroll-viewport itemSize="var(--item-size)" id="gov-container-scrollport" class="gov-container-scrollport">
            <mat-grid-list cols="4" rowHeight="1.75:1">
                <mat-grid-tile *cdkVirtualFor="let plant of filteredNativePlants$ | async; let i = index;"
                    class="positional-plant-result-container" id="positional-plant-result-container-{{i}}">
                    <section class="plant-holder" id="plant-holder-{{i}}">
                        <h1 class="result-scientific-name" id="plant-scientific-name-{{i}}">{{plant.scientificName}}</h1>
                        <h2 class="result-common-name" id="plant-common-name-{{i}}">{{plant.commonName}}</h2>
                        <a target="_blank" rel="noopener noreferrer" [href]="usdaGovPlantProfileUrl + plant.acceptedSymbol" class=""
                        id="plant-abbreviation">{{plant.acceptedSymbol}}</a>
                        <h4 class="result-property" id="plant-growth-habit-{{i}}">{{plant.growthHabit}}</h4>
                    </section>
                </mat-grid-tile>
            </mat-grid-list>
        </cdk-virtual-scroll-viewport>
    </article>
</body>