:root{
    --item-size: 5em;
}

h2{
    all: unset;
}


.container {
    margin-left: 1.5vw;
    height: calc(100vh - .5vh - 4em);
}

.result-container{
    height: inherit;
}
.gov-container-scrollport {
    width: 100%;
    height: 100%;
}

.plant-holder,
.positional-plant-result-container {
    height: var(--item-size);
}

.plant-holder {
    display: flex;
    flex-direction: column;
}

.result-property{
    margin-bottom: 0;
}