:root{
    --item-size: 5em;
}

h2{
    all: unset;
}

.result-scientific-name{
    font-style: italic;
}

.container {
    background-color: rgb(162, 192, 162);
    height: calc(100vh - .5vh - 4em);
}

.result-container{
    height: inherit;
}


@supports (scrollbar-color: auto) {
  .gov-container-scrollport{
    scrollbar-color:var(--wood-dark-brown) var(--wood-brown);
  }
}

@supports selector(::-webkit-scrollbar) {
  .gov-container-scrollport::-webkit-scrollbar {
    background:var(--wood-dark-brown);
  }
  .gov-container-scrollport:-webkit-scrollbar-thumb {
    background: var(--wood-brown);
  }
}

.gov-container-scrollport {
    width: 100%;
    height: 100%;
}

.plant-holder,
.positional-plant-result-container {
    height: var(--item-size);
}

.positional-plant-result-container{
    border: .25em var(--wood-brown) solid;
}
.positional-plant-result-container:nth-child(5n + 1){
    border-left: none;  
}


.plant-holder {
    display: flex;
    flex-direction: column;
}

.result-property{
    margin-bottom: 0;
}

.symbolAndShadeRow{
    display: inline-flex;
    gap: .25em;
    place-items: center;
}

.overlapped-icon{
    grid-area: 1/1/2/2;
}

.overlapped-sun{
    padding-left: 12px;
}

.sun, .overlapped-sun{
    color: rgb(255, 208, 0);
}

.overlapped-cloud, .cloud{
    color: grey;
}