:root{
    --item-size: 8em;
}

#filterSection {
    top: 0;
    position: sticky;
    margin-left: .75vw;
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: .5vh;
    height: 2em;
}

.container {
    margin-left: 1.5vw;
    height: 100%;
}

.gov-container-scrollport {
    height: calc(100vh - .5vh - 2em);
    width: 100%
}

.plant-holder,
.positional-plant-result-container {
    height: var(--item-size);
}

.plant-holder {
    display: flex;
    flex-direction: column;
}

.result-property{
    margin-bottom: 0;
}