:root{
    --item-size: 5em;
}

h2{
    all: unset;
}

.result-scientific-name{
    font-style: italic;
}

.container {
    background-color: rgb(162, 192, 162);
    padding-left: 1.5vw;
    height: calc(100vh - .5vh - 4em);
}

.result-container{
    height: inherit;
}

/* .gov-container-scrollport::-webkit-scrollbar{
    background-color: var(--wood-brown);
}
.gov-container-scrollport::-webkit-scrollbar-thumb{
    background: rgb(68, 51, 29);
    border-radius: .25em;
} */

/* For browsers that support `scrollbar-*` properties */
@supports (scrollbar-color: auto) {
  .gov-container-scrollport{
    scrollbar-color:rgb(68, 51, 29) var(--wood-brown);
  }
}

/* Otherwise, use `::-webkit-scrollbar-*` pseudo-elements */
@supports selector(::-webkit-scrollbar) {
  .gov-container-scrollport::-webkit-scrollbar {
    background:rgb(68, 51, 29);
  }
  .gov-container-scrollport:-webkit-scrollbar-thumb {
    background: var(--wood-brown);
  }
}

.gov-container-scrollport {
    width: 100%;
    height: 100%;
}

.plant-holder,
.positional-plant-result-container {
    height: var(--item-size);
}

.plant-holder {
    display: flex;
    flex-direction: column;
}

.result-property{
    margin-bottom: 0;
}

.symbolAndShadeRow{
    display: inline-flex;
    gap: .25em;
    place-items: center;
}

.overlapped-icon{
    grid-area: 1/1/2/2;
}

.overlapped-sun{
    padding-left: 12px;
}

.sun, .overlapped-sun{
    color: rgb(255, 208, 0);
}

.overlapped-cloud, .cloud{
    color: grey;
}