.map-container {
    height: calc(100vh - var(--nav-bar--total-height));
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grass-light-green);
}

.nav-bar__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
